<center>
<img src="../../img/ods_stickers.jpg">
    
## [mlcourse.ai](https://mlcourse.ai) - Open Machine Learning Course

Author: [Yury Kashnitsky](https://www.linkedin.com/in/festline/). Translated and edited by [Sergey Isaev](https://www.linkedin.com/in/isvforall/), [Artem Trunov](https://www.linkedin.com/in/datamove/), [Anastasia Manokhina](https://www.linkedin.com/in/anastasiamanokhina/), and [Yuanyuan Pao](https://www.linkedin.com/in/yuanyuanpao/). All content is distributed under the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license.

# <center> Assignment #1 (demo)
## <center>  Exploratory data analysis with Pandas


**Same assignment as a [Kaggle Kernel](https://www.kaggle.com/kashnitsky/a1-demo-pandas-and-uci-adult-dataset) + [solution](https://www.kaggle.com/kashnitsky/a1-demo-pandas-and-uci-adult-dataset-solution).**

**In this task you should use Pandas to answer a few questions about the [Adult](https://archive.ics.uci.edu/ml/datasets/Adult) dataset. (You don't have to download the data – it's already  in the repository). Choose the answers in the [web-form](https://docs.google.com/forms/d/1uY7MpI2trKx6FLWZte0uVh3ULV4Cm_tDud0VDFGCOKg).**

Unique values of all features (for more information, please see the links above):
- `age`: continuous.
- `workclass`: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- `fnlwgt`: continuous.
- `education`: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- `education-num`: continuous.
- `marital-status`: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- `occupation`: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- `relationship`: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- `race`: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- `sex`: Female, Male.
- `capital-gain`: continuous.
- `capital-loss`: continuous.
- `hours-per-week`: continuous.
- `native-country`: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- `salary`: >50K,<=50K

In [3]:
import numpy as np
import pandas as pd

pd.set_option("display.max.columns", 100)
# to draw pictures in jupyter notebook
%matplotlib inline
# we don't like warnings
# you can comment the following 2 lines if you'd like to
import warnings

import matplotlib.pyplot as plt
import seaborn as sns

warnings.filterwarnings("ignore")

In [4]:
data = pd.read_csv("../../data/adult.data.csv")
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. How many men and women (*sex* feature) are represented in this dataset?**

In [5]:
data['sex'].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

**2. What is the average age (*age* feature) of women?**

In [6]:
data[data.sex == 'Female']['age'].mean()

36.85823043357163

**3. What is the percentage of German citizens (*native-country* feature)?**

In [7]:
data['native-country'].value_counts()['Germany'] / data.shape[0]

0.004207487485028101

**4-5. What are the mean and standard deviation of age for those who earn more than 50K per year (*salary* feature) and those who earn less than 50K per year?**

In [8]:
print('--- More than 50K ---')
print('Mean of age:', data[data['salary']== '>50K']['age'].mean())
print('Standard deviation of age', data[data['salary']== '>50K']['age'].std())

print('\n--- Less than 50K ---')
print('Mean of age:', data[data['salary']== '<=50K']['age'].mean())
print('Standard deviation of age', data[data['salary']== '<=50K']['age'].std())

--- More than 50K ---
Mean of age: 44.24984058155847
Standard deviation of age 10.51902771985177

--- Less than 50K ---
Mean of age: 36.78373786407767
Standard deviation of age 14.020088490824813

**6. Is it true that people who earn more than 50K have at least high school education? (*education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* or *Doctorate* feature)**

In [9]:
(data[data.salary == '>50K']['education-num'] >= 12).value_counts()

# No, it isn't true.

True     4174
False    3667
Name: education-num, dtype: int64

**7. Display age statistics for each race (*race* feature) and each gender (*sex* feature). Use *groupby()* and *describe()*. Find the maximum age of men of *Amer-Indian-Eskimo* race.**

In [10]:
data.groupby(by='race').describe(include = 'all')

                        age                                                    \
                      count unique top freq       mean        std   min   25%
race
Amer-Indian-Eskimo    311.0    NaN NaN  NaN  37.173633  12.447130  17.0  28.0
Asian-Pac-Islander   1039.0    NaN NaN  NaN  37.746872  12.825133  17.0  28.0
Black                3124.0    NaN NaN  NaN  37.767926  12.759290  17.0  28.0
Other                 271.0    NaN NaN  NaN  33.457565  11.538865  17.0  25.0
White               27816.0    NaN NaN  NaN  38.769881  13.782306  17.0  28.0

                                     workclass                              \
                     50%   75%   max     count unique      top   freq mean
race
Amer-Indian-Eskimo  35.0  45.5  82.0       311      7  Private    190  NaN
Asian-Pac-Islander  36.0  45.0  90.0      1039      8  Private    713  NaN
Black               36.0  46.0  90.0      3124      9  Private   2176  NaN
Other               31.0  41.0  77.0       271      7  Private    213  NaN
White               37.0  48.0  90.0     27816      9  Private  19404  NaN

                                                   fnlwgt                  \
                    std  min  25%  50%  75%  max    count unique top freq
race
Amer-Indian-Eskimo  NaN  NaN  NaN  NaN  NaN  NaN    311.0    NaN NaN  NaN
Asian-Pac-Islander  NaN  NaN  NaN  NaN  NaN  NaN   1039.0    NaN NaN  NaN
Black               NaN  NaN  NaN  NaN  NaN  NaN   3124.0    NaN NaN  NaN
Other               NaN  NaN  NaN  NaN  NaN  NaN    271.0    NaN NaN  NaN
White               NaN  NaN  NaN  NaN  NaN  NaN  27816.0    NaN NaN  NaN

                                                                               \
                             mean            std      min       25%       50%
race
Amer-Indian-Eskimo  120831.147910   88338.636336  12285.0   35036.5  102541.0
Asian-Pac-Islander  159940.609240   85122.307505  14878.0   93321.0  143098.0
Black               228013.124200  123600.677422  19752.0  148212.0  205934.0
Other               197124.191882   88856.775370  24562.0  138103.0  188793.0
White               187298.064280  103124.944196  18827.0  116902.5  177627.0

                                        education                          \
                         75%        max     count unique        top  freq
race
Amer-Indian-Eskimo  176142.0   445168.0       311     15    HS-grad   119
Asian-Pac-Islander  194456.0   506329.0      1039     16  Bachelors   289
Black               281693.0  1268339.0      3124     16    HS-grad  1174
Other               240091.0   481175.0       271     16    HS-grad    78
White               233542.5  1484705.0     27816     16    HS-grad  8904

                                                      education-num         \
                   mean  std  min  25%  50%  75%  max         count unique
race
Amer-Indian-Eskimo  NaN  NaN  NaN  NaN  NaN  NaN  NaN         311.0    NaN
Asian-Pac-Islander  NaN  NaN  NaN  NaN  NaN  NaN  NaN        1039.0    NaN
Black               NaN  NaN  NaN  NaN  NaN  NaN  NaN        3124.0    NaN
Other               NaN  NaN  NaN  NaN  NaN  NaN  NaN         271.0    NaN
White               NaN  NaN  NaN  NaN  NaN  NaN  NaN       27816.0    NaN

                                                  ... capital-gain            \
                   top freq       mean       std  ...          std  min  25%
race                                              ...
Amer-Indian-Eskimo NaN  NaN   9.311897  2.310387  ...  2753.238961  0.0  0.0
Asian-Pac-Islander NaN  NaN  10.960539  2.811582  ...  9986.156906  0.0  0.0
Black              NaN  NaN   9.486236  2.297893  ...  5139.653447  0.0  0.0
Other              NaN  NaN   8.841328  3.226153  ...  8625.128995  0.0  0.0
White              NaN  NaN  10.135246  2.570307  ...  7504.533302  0.0  0.0

                                      capital-loss                             \
                    50%  75%      max        count unique top freq       mean
race
Amer-Indian-Eskimo  0.0  0.0  27828.0        311.0    NaN NaN  NaN  34.176849
Asian-Pac-Islander  0.0  0.0  99999.0       1039.0    NaN NaN  NaN  97.222329
Black               0.0  0.0  99999.0       3124.0    NaN NaN  NaN  60.385083
Other               0.0  0.0  99999.0        271.0    NaN NaN  NaN  61.070111
White               0.0  0.0  99999.0      27816.0    NaN NaN  NaN  90.806155

                                                           hours-per-week  \
                           std  min  25%  50%  75%     max          count
race
Amer-Indian-Eskimo  245.583106  0.0  0.0  0.0  0.0  1980.0          311.0
Asian-Pac-Islander  423.556931  0.0  0.0  0.0  0.0  2457.0         1039.0
Black               337.394121  0.0  0.0  0.0  0.0  4356.0         3124.0
Other               322.452705  0.0  0.0  0.0  0.0  2179.0          271.0
White               410.833347  0.0  0.0  0.0  0.0  4356.0        27816.0

                                                                           \
                   unique top freq       mean        std  min   25%   50%
race
Amer-Indian-Eskimo    NaN NaN  NaN  40.048232  11.695364  3.0  40.0  40.0
Asian-Pac-Islander    NaN NaN  NaN  40.127045  12.556816  1.0  40.0  40.0
Black                 NaN NaN  NaN  38.422855  10.315646  1.0  37.0  40.0
Other                 NaN NaN  NaN  39.468635  11.143755  5.0  36.0  40.0
White                 NaN NaN  NaN  40.689100  12.544796  1.0  40.0  40.0

                               native-country                               \
                     75%   max          count unique            top   freq
race
Amer-Indian-Eskimo  40.0  84.0            311      8  United-States    296
Asian-Pac-Islander  40.0  99.0           1039     26  United-States    292
Black               40.0  99.0           3124     20  United-States   2832
Other               40.0  98.0            271     20  United-States    129
White               45.0  99.0          27816     38  United-States  25621

                                                      salary                \
                   mean  std  min  25%  50%  75%  max  count unique    top
race
Amer-Indian-Eskimo  NaN  NaN  NaN  NaN  NaN  NaN  NaN    311      2  <=50K
Asian-Pac-Islander  NaN  NaN  NaN  NaN  NaN  NaN  NaN   1039      2  <=50K
Black               NaN  NaN  NaN  NaN  NaN  NaN  NaN   3124      2  <=50K
Other               NaN  NaN  NaN  NaN  NaN  NaN  NaN    271      2  <=50K
White               NaN  NaN  NaN  NaN  NaN  NaN  NaN  27816      2  <=50K


                     freq mean  std  min  25%  50%  75%  max
race
Amer-Indian-Eskimo    275  NaN  NaN  NaN  NaN  NaN  NaN  NaN
Asian-Pac-Islander    763  NaN  NaN  NaN  NaN  NaN  NaN  NaN
Black                2737  NaN  NaN  NaN  NaN  NaN  NaN  NaN
Other                 246  NaN  NaN  NaN  NaN  NaN  NaN  NaN
White               20699  NaN  NaN  NaN  NaN  NaN  NaN  NaN

[5 rows x 154 columns]

In [11]:
data.groupby(by='sex').describe(include = 'all')

            age                                                                \
          count unique top freq       mean        std   min   25%   50%   75%
sex
Female  10771.0    NaN NaN  NaN  36.858230  14.013697  17.0  25.0  35.0  46.0
Male    21790.0    NaN NaN  NaN  39.433547  13.370630  17.0  29.0  38.0  48.0

             workclass                                                       \
         max     count unique      top   freq mean  std  min  25%  50%  75%
sex
Female  90.0     10771      9  Private   7752  NaN  NaN  NaN  NaN  NaN  NaN
Male    90.0     21790      9  Private  14944  NaN  NaN  NaN  NaN  NaN  NaN

              fnlwgt                                                         \
        max    count unique top freq           mean            std      min
sex
Female  NaN  10771.0    NaN NaN  NaN  185746.311206  102986.078821  12285.0
Male    NaN  21790.0    NaN NaN  NaN  191771.449013  106740.702676  13769.0

                                                  education                  \
              25%       50%        75%        max     count unique      top
sex
Female  117363.00  176077.0  228331.50  1484705.0     10771     16  HS-grad
Male    118200.75  180140.0  241146.25  1455435.0     21790     16  HS-grad

                                                education-num                  \
        freq mean  std  min  25%  50%  75%  max         count unique top freq
sex
Female  3390  NaN  NaN  NaN  NaN  NaN  NaN  NaN       10771.0    NaN NaN  NaN
Male    7111  NaN  NaN  NaN  NaN  NaN  NaN  NaN       21790.0    NaN NaN  NaN

                             ... capital-gain                               \
             mean       std  ...          std  min  25%  50%  75%      max
sex                          ...
Female  10.035744  2.379954  ...  4924.262944  0.0  0.0  0.0  0.0  99999.0
Male    10.102891  2.662630  ...  8326.312095  0.0  0.0  0.0  0.0  99999.0

       capital-loss                                                         \
              count unique top freq        mean         std  min  25%  50%
sex
Female      10771.0    NaN NaN  NaN   61.187633  340.907518  0.0  0.0  0.0
Male        21790.0    NaN NaN  NaN  100.213309  429.763097  0.0  0.0  0.0

                    hours-per-week                                             \
        75%     max          count unique top freq       mean        std  min
sex
Female  0.0  4356.0        10771.0    NaN NaN  NaN  36.410361  11.811300  1.0
Male    0.0  3770.0        21790.0    NaN NaN  NaN  42.428086  12.119755  1.0

                               native-country                               \
         25%   50%   75%   max          count unique            top   freq
sex
Female  30.0  40.0  40.0  99.0          10771     42  United-States   9682
Male    40.0  40.0  49.0  99.0          21790     41  United-States  19488

                                          salary                            \
       mean  std  min  25%  50%  75%  max  count unique    top   freq mean
sex
Female  NaN  NaN  NaN  NaN  NaN  NaN  NaN  10771      2  <=50K   9592  NaN
Male    NaN  NaN  NaN  NaN  NaN  NaN  NaN  21790      2  <=50K  15128  NaN


        std  min  25%  50%  75%  max
sex
Female  NaN  NaN  NaN  NaN  NaN  NaN
Male    NaN  NaN  NaN  NaN  NaN  NaN

[2 rows x 154 columns]

In [12]:
max_age = data[(data.race == 'Amer-Indian-Eskimo') & (data.sex == 'Male')]['age'].max()

print('Maximum age of men of Amer-Indian-Eskimo race:', max_age)

Maximum age of men of Amer-Indian-Eskimo race: 82

**8. Among whom is the proportion of those who earn a lot (>50K) greater: married or single men (*marital-status* feature)? Consider as married those who have a *marital-status* starting with *Married* (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.**

In [13]:
print('--- Married men ---')
married = data[(data.sex == 'Male') & (data['marital-status'].str.startswith('Married'))]['salary'].value_counts()
print(married)
print('Proportion of richer ones:', married[1]/sum(married))

--- Married men ---
<=50K    7576
>50K     5965
Name: salary, dtype: int64
Proportion of richer ones: 0.4405139945351156

In [14]:
print('--- Single men ---')
unmarried = data[(data.sex == 'Male') & (data["marital-status"].isin(["Never-married", "Separated", "Divorced"]))]['salary'].value_counts()
print(unmarried)
print('Proportion of richer ones:', unmarried[1]/sum(unmarried))

--- Single men ---
<=50K    7423
>50K      658
Name: salary, dtype: int64
Proportion of richer ones: 0.0814255661428041

The proportion of those who earn more than 50K is greater among married men. Though it wasn't asked, let's see if the same holds for women (or females).

In [15]:
print('--- Married women ---')
marriedw = data[(data.sex == 'Female') & (data['marital-status'].str.startswith('Married'))]['salary'].value_counts()
print(marriedw)
print('Proportion of richer ones:', marriedw[1]/sum(marriedw))

--- Married women ---
<=50K    1105
>50K      771
Name: salary, dtype: int64
Proportion of richer ones: 0.4109808102345416

In [16]:
print('--- Single women ---')
unmarriedw = data[(data.sex == 'Female') & (data["marital-status"].isin(["Never-married", "Separated", "Divorced"]))]['salary'].value_counts()
print(unmarriedw)
print('Proportion of richer ones:', unmarriedw[1]/sum(unmarriedw))

--- Single women ---
<=50K    7708
>50K      362
Name: salary, dtype: int64
Proportion of richer ones: 0.04485749690210657

Yes, it does hold for women/females as well.

I also see that, in this dataset, the proportion of single women compared to married women is a lot greater than the ratio of single men compared to married men. That was surprising.

**9. What is the maximum number of hours a person works per week (*hours-per-week* feature)? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?**

In [17]:
max_hours_week = data['hours-per-week'].max()
print('Max number of hours per week:', max_hours_week)
num_workers = data[data['hours-per-week'] == max_hours_week].shape[0]
print(num_workers, 'people work',max_hours_week, 'hours per week.')

ratio_richer = data[(data['hours-per-week'] == max_hours_week) & (data.salary == '>50K')].shape[0] / num_workers
print('The proportion of those who earn >50K among them is', ratio_richer)

Max number of hours per week: 99
85 people work 99 hours per week.
The proportion of those who earn >50K among them is 0.29411764705882354

**10. Count the average time of work (*hours-per-week*) for those who earn a little and a lot (*salary*) for each country (*native-country*). What will these be for Japan?**

In [24]:
pd.set_option('display.max_rows', None)
print(data.groupby(by=['native-country', 'salary'])['hours-per-week'].mean())

# Set the max rows again 
pd.set_option('display.max_rows', 10)

native-country              salary
?                           <=50K     40.164760
                            >50K      45.547945
Cambodia                    <=50K     41.416667
                            >50K      40.000000
Canada                      <=50K     37.914634
                            >50K      45.641026
China                       <=50K     37.381818
                            >50K      38.900000
Columbia                    <=50K     38.684211
                            >50K      50.000000
Cuba                        <=50K     37.985714
                            >50K      42.440000
Dominican-Republic          <=50K     42.338235
                            >50K      47.000000
Ecuador                     <=50K     38.041667
                            >50K      48.750000
El-Salvador                 <=50K     36.030928
                            >50K      45.000000
England                     <=50K     40.483333
                            >50K      44.533333
France                      <=50K     41.058824
                            >50K      50.750000
Germany                     <=50K     39.139785
                            >50K      44.977273
Greece                      <=50K     41.809524
                            >50K      50.625000
Guatemala                   <=50K     39.360656
                            >50K      36.666667
Haiti                       <=50K     36.325000
                            >50K      42.750000
Holand-Netherlands          <=50K     40.000000
Honduras                    <=50K     34.333333
                            >50K      60.000000
Hong                        <=50K     39.142857
                            >50K      45.000000
Hungary                     <=50K     31.300000
                            >50K      50.000000
India                       <=50K     38.233333
                            >50K      46.475000
Iran                        <=50K     41.440000
                            >50K      47.500000
Ireland                     <=50K     40.947368
                            >50K      48.000000
Italy                       <=50K     39.625000
                            >50K      45.400000
Jamaica                     <=50K     38.239437
                            >50K      41.100000
Japan                       <=50K     41.000000
                            >50K      47.958333
Laos                        <=50K     40.375000
                            >50K      40.000000
Mexico                      <=50K     40.003279
                            >50K      46.575758
Nicaragua                   <=50K     36.093750
                            >50K      37.500000
Outlying-US(Guam-USVI-etc)  <=50K     41.857143
Peru                        <=50K     35.068966
                            >50K      40.000000
Philippines                 <=50K     38.065693
                            >50K      43.032787
Poland                      <=50K     38.166667
                            >50K      39.000000
Portugal                    <=50K     41.939394
                            >50K      41.500000
Puerto-Rico                 <=50K     38.470588
                            >50K      39.416667
Scotland                    <=50K     39.444444
                            >50K      46.666667
South                       <=50K     40.156250
                            >50K      51.437500
Taiwan                      <=50K     33.774194
                            >50K      46.800000
Thailand                    <=50K     42.866667
                            >50K      58.333333
Trinadad&Tobago             <=50K     37.058824
                            >50K      40.000000
United-States               <=50K     38.799127
                            >50K      45.505369
Vietnam                     <=50K     37.193548
                            >50K      39.200000
Yugoslavia                  <=50K     41.600000
                            >50K      49.500000
Name: hours-per-week, dtype: float64

In [23]:
pd.crosstab(
    data["native-country"],
    data["salary"],
    values=data["hours-per-week"],
    aggfunc=np.mean)

salary               <=50K       >50K
native-country
?                40.164760  45.547945
Cambodia         41.416667  40.000000
Canada           37.914634  45.641026
China            37.381818  38.900000
Columbia         38.684211  50.000000
...                    ...        ...
Thailand         42.866667  58.333333
Trinadad&Tobago  37.058824  40.000000
United-States    38.799127  45.505369
Vietnam          37.193548  39.200000
Yugoslavia       41.600000  49.500000

[42 rows x 2 columns]